<<<<<<< HEAD
# Netlify configuration - build & publish settings
[build]
  command = "npm run build"
  publish = "dist"

[context.production.environment]
  NODE_ENV = "production"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
=======
[build]
  command = "npm run build"
  publish = "dist"
>>>>>>> 755444eff2a606db1e26dd66e32748c17500068b
